.footer{
    position: absolute;
    width: 1440px;
    height: 250px;
    left: 0px;
    color: white;
    background: #38AB51;
    margin-top: 30px;
    margin-bottom: 0px;
}

.copyright{
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: 200px;
    
}