@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a, li{
  text-decoration: none;
  list-style: none;
}


/* about page */
.about{
  margin: 20px;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 88px;

}

.pizzaGrid{
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
}