.hero{
    width: 1450px;
    height: 600px;
    background: linear-gradient(180deg, rgba(44, 216, 82, 0.19) 99.99%, rgba(217, 217, 217, 0) 100%);
    display: flex;
    align-items: center;
    padding-left: 160px;
}


.title{
    font-size: 80px;
}

.right{
    margin-left: 400px;
    height: 300px;
    width: 700px;
    object-fit: cover;
   
}