.container{

    width: 300px;
    height: 370px;
    margin: 30px;
    top: 2120px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 20px;

}

.container:hover{
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
    transform: translateX(10px) rotate(5deg);
    scale: 1.2;
}

.image{
    width: 259.33px;
    border-radius: 40px;
    height: 197.03px;
}

.desc{
    text-align: center;
}

.price{
    text-align: center;
    color: #38AB51;
}

.title{
    text-align: center;
}

.button{
    
    text-align: center;
}
.button > button{
    padding: 10px;
    background-color: #38AB51;
    color: white;
    border: 1px solid transparent;
    margin-top: 5px;
    cursor: pointer;
}